.card {
    display: inline-block;
    height: 259px;
    background-color: var(--purple);
    text-align: center;
    padding: 20px;
    /*margin: 20px 0;*/
}

.card {
    /*flex-basis: calc(20% - 20px); !*seems to define the width of each flex item, and gap between items*!*/
    margin-bottom: 15px; /*defines margin between items vertically, but not margin with page/container*/
}

.card:first-child {
    margin-top: 0;
}

.card:last-child {
    margin-bottom: 0;
}

.card-title h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    text-align: center;
    padding: 20px;
    margin: 0;
    background: var(--purple);

}

.card-title hr {
    border: 1px solid var(--secondary-grey);
    width: 96%;
}

.card-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    padding: 20px;
    text-align: justify;
    background: var(--purple);
    white-space: pre-wrap;
}

.image-card {
    /*margin: 0;*/
    padding: 0;
    width: auto;
    height: auto;
    background: none;
    flex: 0 0 auto;
    margin-right: 20px;
}

#pic{
    width: 300px;
}

#profile{
    width:1385px;
}

#status{
    width: 825px;
}

#work-exp{
    width: 825px;
}

#edu{
    width: 1720px;
}