.card {
    display: inline-block;
    width: 20%;
    height: 300px;
    background-color: #C96530;
    text-align: center;
    padding: 20px;
    /*margin: 20px 0;*/
}

.card {
    flex-basis: calc(20% - 20px); /*seems to define the width of each flex item, and gap between items*/
    margin-bottom: 20px; /*defines margin between items vertically, but not margin with page/container*/
}

.card:first-child {
    margin-top: 0;
}

.card:last-child {
    margin-bottom: 0;
}

.card-title h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    text-align: center;
    padding: 20px;
    margin: 0;
    background: darkorange;

}

.card-title hr {
    border: 1px solid var(--secondary-grey);
    width: 96%;
}

.card-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    padding: 20px;
    text-align: justify;
    background: darkorange;
}

.image-card {
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
    background: none;
}

#pic{
    width: 300px;
    margin: 0 30px 0 0;
}

