.card {
    display: inline-block;
    width: 20%;
    height: 300px;
    margin: 20px;
    background-color: #C96530;
    text-align: center;
    padding: 20px;
}

.card-title h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    text-align: center;
    padding: 20px;
    margin: 0;
    background: darkorange;

}

.card-title hr {
    border: 1px solid var(--secondary-grey);
    width: 96%;
}

.card-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    padding: 20px;
    text-align: justify;
    background: darkorange;
}

.image-card {
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
    background: none;
}

.image{
    width: 500px;
}