.navbar {
    display: flex;
    justify-content: space-between; /*centers navbar items - along with line above it*/
    background-color: var(--secondary-grey);
    padding: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

.navbar ul {
    display: flex; /*makes list horizontal for navbar*/
    list-style: none; /*removes bullet points*/
}

.navbar a {
    text-decoration: none; /*removes link underline*/
}

.navbar-item { /*all links in navbar to the right styled here*/
    color: #fff;
    background: var(--secondary-grey);
    font-size: 20px;
    padding: 23px;
}

.footer {
    background-color: var(--secondary-grey);
    display: flex;
    justify-content: center;
    padding: 20px;
    font-weight: bold;
    font-size: 24px;
    color: var(--primary-orange);
}

#navbar-name {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 46px;
    color: orange;
    background-color: var(--secondary-grey);
}

#navbar-name span {
    color: lightgreen;
    background: var(--secondary-grey);
}

.special-item .navbar-item {
    background: var(--bright-orange);
}