* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: var(--primary-grey);
}

.body {
    /*border: solid 1px darkorange;*/
    height: auto;
    display: flex;
    flex-wrap: wrap; /*makes cards arrange in grid, instead of single horizontal row*/
    justify-content: space-between /*centers cards*/
}

.wrapper {
    margin: 15px;
}

:root {
    --primary-orange: #C96530;
    --bright-orange: #ff6600;
    --primary-grey: #1b1b1b;
    --secondary-grey: #242424;
    --green: #56C099;
    --pink: #E7788B;
    --purple: #9381BC;
    --blue: #66ACC6;
}

